html, body{
    height: 100%;
    margin: 0 auto;
    padding: 0;
}

body {
    background-color: #000;
    flex-direction: column;
    display: flex;
}

main {
    flex: 1;
}

.social-icons {
    display: flex;
    justify-content: start;
    gap: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding-left: 10px;
    box-sizing: border-box;
}

.social-icons img {
    width: 60px;
    transition: transform 0.3s ease, opacity 0.3s ease;
    cursor: pointer;
}

.social-icons img:hover {
    transform: scale(1.15);
    opacity: 0.8;
}

header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    flex-wrap: wrap;
}

#nav-1{
    font-family: 'Saira', 'Courier New', Courier, monospace;
    background-color: #0000FF;
    color: #fff;
    border-radius: 8px;
    padding: 4px 8px;
}

#nav-2{
    font-family: 'Saira', 'Courier New', Courier, monospace;
    background-color: #9f0c0c;
    color: #fff;
    border-radius: 8px;
    padding: 4px 8px;
}

#nav-3{
    font-family: 'Saira', 'Courier New', Courier, monospace;
    background-color: #779305;
    color: #fff;
    border-radius: 8px;
    padding: 4px 8px;
}

#nav-4{
    font-family: 'Saira', 'Courier New', Courier, monospace;
    background-color: #660092;
    color: #fff;
    border-radius: 8px;
    padding: 4px 8px;
}

nav{
    font-family: 'Saira', 'Courier New', Courier, monospace;
    display: flex;
    gap: 20px;
    box-sizing: border-box;
}

h1{
    color: #fff;
    font-family: 'Saira', 'Courier New', Courier, monospace;
}

h2{
    color: #fff;
    font-family: 'Saira', 'Courier New', Courier, monospace;
    padding-left: 10px;
    box-sizing: border-box;
}

h3 {
    color: #fff;
    font-family: 'Saira', 'Courier New', Courier, monospace;
}

p {
    color: #fff;
    font-family: 'Saira', 'Courier New', Courier, monospace;
}

#typewriter {
    border-right: 2px solid rgb(206, 222, 240);
    border-bottom: 2px solid #0000FF;
    padding-right: 5px;
    animation: blink-rigth 0.7s infinite;
}

@keyframes blink-rigth {
    50% {
        border-right-color: transparent;
    }
}

footer {
    background-color: #404040;
    text-align: center;
    padding: 20px 0;
}

.footer-info {
    display: flex;
    gap: 10px;
    justify-content: center;
    flex-wrap: wrap;
}

.footer-info p:not(:last-child)::after {
    content: " |";
    margin-left: 8px;
    color: #fff;
}

/*Responsive*/
@media (max-width: 768px) {
    header {
        flex-direction: column;
        text-align: center;
        gap: 10px;
    }

    nav {
        flex-wrap: wrap;
        justify-content: center;
    }
}